certifi==2024.7.4
chardet==4.0.0
docutils==0.17.1
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.2
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivymd @ git+https://github.com/kivymd/KivyMD.git@3b047b7dd76b5c13ab3d320af6a859d7db143066
Pillow==10.0.1
Pygments==2.15.0
pypiwin32==223
pywin32==301
requests==2.32.2
urllib3==1.26.19
